.header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 100;
}
.header__main {
  height: 80px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}
.header__main_disabled {
  display: none;
}
.header__title {
  color: #363636;
}

.burger {
  position: relative;
  width: 50px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.burger__line {
  width: 100%;
  height: 6px;
  background: #363636;
  border-radius: 5px;
}
.burger__line::before {
  width: 100%;
  height: 6px;
  content: "";
  position: absolute;
  top: 0;
  background: #363636;
  border-radius: 5px;
}
.burger__line::after {
  width: 100%;
  height: 6px;
  content: "";
  position: absolute;
  bottom: 0;
  background: #363636;
  border-radius: 5px;
}

.editor {
  position: relative;
  height: 80px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}
.editor_disabled {
  display: none;
}
.editor__close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: gray;
  font-size: 2em;
  margin-right: 20px;
}
.editor__close-btn:hover {
  background: none;
  color: black;
}
.editor__selected-tasks {
  font-size: 26px;
}
.editor__bold-btn {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  color: #363636;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: none;
  padding: 0px 0px 2px 0px;
  border: none;
  cursor: pointer;
}
.editor__bold-btn_active {
  background: rgba(192, 192, 192, 0.433);
  border-radius: 50%;
}
.editor__cursive-btn {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  color: #363636;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  background: none;
  padding: 0px 0px 2px 0px;
  border: none;
  cursor: pointer;
}
.editor__cursive-btn_active {
  background: rgba(192, 192, 192, 0.433);
  border-radius: 50%;
}
.editor__palette-btn {
  min-width: 40px;
  min-height: 40px;
  background: none;
  border: none;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}
.editor__palette-btn:hover {
  background: rgba(192, 192, 192, 0.433);
  border-radius: 50%;
}
.editor__delete-task-btn {
  min-width: 40px;
  min-height: 40px;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.editor__delete-task-btn:hover {
  background: rgba(192, 192, 192, 0.433);
  border-radius: 50%;
}

.main {
  background: linear-gradient(45deg, #e6e9f0, #eef1f5);
}
.main__task-container {
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
}
.main__task-list_empty {
  padding-top: 0;
  color: rgba(54, 54, 54, 0.5);
  font-size: 36px;
}
.main__btns-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 2px solid rgba(128, 128, 128, 0.5);
}
.main__btns {
  height: 80px;
  background: white;
  padding: 0px 40px 0px 40px;
}
.main__open-delete-modal-btn {
  width: 200px;
  height: 60px;
  font-size: 24px;
  border-radius: 15px;
}
.main__add-task-btn {
  width: 200px;
  height: 60px;
  font-size: 24px;
  border-radius: 15px;
}

.task {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  margin-top: 5px;
}
.task__task-number {
  min-width: 50px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  color: #363636;
  margin-right: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.task__task-input {
  min-width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: transparent;
  border: none;
  border-bottom: 2px solid #363636;
  outline: none;
  font-size: 24px;
  margin-right: 20px;
}
.task__task-input_is-bold {
  font-weight: bold;
}
.task__task-input_is-cursive {
  font-style: italic;
}
.task__task-checkbox {
  min-width: 50px;
  min-height: 50px;
  background: white;
  border: 2px solid #363636;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 10px;
}
.task__edit-btn {
  min-width: 50px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.task:first-child {
  margin-top: 10px;
}

.task:last-child {
  margin-bottom: 10px;
}

.task_selected {
  background: rgba(127, 142, 195, 0.15);
  border: 5px solid rgb(36, 93, 143);
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}

.modal-mark-color__color {
  min-width: 70px;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-radius: 50%;
  margin: 10px;
  border: 1px solid gray;
  cursor: pointer;
}
.modal-mark-color__color_selected {
  border: 3px solid rgb(36, 93, 143);
}

.mark-color-1 {
  background: transparent;
}

.mark-color-2 {
  background: rgb(247, 155, 159);
}

.mark-color-3 {
  background: rgb(237, 155, 96);
}

.mark-color-4 {
  background: rgb(255, 240, 139);
}

.mark-color-5 {
  background: rgb(144, 182, 213);
}

.mark-color-6 {
  background: rgb(194, 221, 243);
}

.mark-color-7 {
  background: rgb(138, 215, 200);
}

.mark-color-8 {
  background: rgb(193, 237, 193);
}

.mark-color-9 {
  background: rgb(225, 188, 217);
}

.mark-color-10 {
  background: rgb(255, 233, 203);
}

.mark-color-11 {
  background: rgb(228, 222, 213);
}

.mark-color-12 {
  background: rgb(247, 244, 244);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .editor__close-btn {
    padding: 0;
    margin-right: 5px;
  }
  .editor__close-btn-svg {
    width: 50px;
    height: 50px;
  }
  .editor__selected-tasks {
    font-size: 20px;
  }
  .editor__bold-btn {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-right: 5px;
  }
  .editor__cursive-btn {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-right: 5px;
  }
  .editor__palette-btn {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  .editor__palette-svg {
    width: 30px;
    height: 30px;
  }
  .editor__delete-task-btn {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .editor__delete-svg {
    width: 30px;
    height: 30px;
  }
  .main__btns {
    padding: 0px;
  }
  .main__add-task-btn {
    width: 160px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
  }
  .main__open-delete-modal-btn {
    height: 50px;
    width: 160px;
    font-size: 20px;
    border-radius: 10px;
  }
}